@charset "utf-8";

body {
  margin: 0;
}

header {
  background-image: linear-gradient(-135deg, rgb(199, 199, 199), #fff);
  background-size: cover;
}

main {
  background-image: url(https://www.sozailab.jp/db_img/sozai/63022/bff1cfdae43a67475164867380878cf4.jpg);
  background-size: cover;
  background-position: right;
}

.contents {
  height: 100%;
  background: rgb(255, 255, 255, 0.7);
}

header h1 {
  font-size: 100px;
  margin: 0;
  padding-top: 50px;
  text-align: center;
}

header .flexboxline h2 {
  font-size: 50px;
  text-align: center;
}

header .flexboxline{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header .twitterlink {
  display: flex;
  flex-flow: column;
  align-items: center;
}

header .twitterlink p {
  text-align: center;
  font-size: 20px;
  margin: 0;
}

header .twittericon {
  width: 70px;
  border-radius: 20px;
}

.contents {
  display: flex;
  flex-flow: column;
  padding: 10px;
}

.contents .marker {
  background: linear-gradient(transparent 60%, #ffff00 0%);
}

.content1 .flexbox {
  display: inline-block
}

.manIcon {
  margin-left: 40px;
  width: 100px;
  height: 100px;
}

.content1 {
  margin: 2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

.content1:before, .content1:after {
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}

.content1:before {
  left : 10px;
}

.content1:after {
  right: 10px;
}

.content1 h3 {
  margin: 0;
  padding: 0;
}


.content2 {
  margin: 2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

.content2:before, .content2:after {
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}

.content2:before {
  left : 10px;
}

.content2:after {
  right: 10px;
}

.content2 h3 {
  margin: 0;
  padding: 0;
}

.content3 {
  margin: 2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

.content3:before, .content3:after {
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}

.content3:before {
  left : 10px;
}

.content3:after {
  right: 10px;
}

.content3 h3 {
  margin: 0;
  padding: 0;
}

.content4 {
  margin: 2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

.content4:before, .content4:after {
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}

.content4:before {
  left : 10px;
}

.content4:after {
  right: 10px;
}

.content4 h3 {
  margin: 0;
  padding: 0;
}

.content4 .flexbox {
  display: flex;
}

.toukaiIcon {
  padding: 20px;
  width: 150px;
  height: 150px;
}

footer {
  height: 30px;
  background-color: rgb(185, 185, 185);
  position: relative;
}

.copylight {
  position: absolute;
  bottom: 0%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

/*--------------------------------------------------------------------------------*/


@keyframes showText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.textAnimation1 span {
  animation: showText 3s backwards;
}

.textAnimation2 span {
  animation: showText 3s backwards;
}


/*--------------------------------------------------------------------------------*/


@media screen and (max-width: 768px) {
  header h1 {
    font-size: 40px;
    margin: 0;
    padding-top: 30px;
    text-align: center;
  }

  header .flexboxline h2 {
    font-size: 12px;
  }

  header .twitterlink p {
    font-size: 10px;
    margin: 0;
  }

  header .twittericon {
    width: 40px;
    border-radius: 10px;
  }

  .manIcon {
    margin-left: 40px;
    width: 50px;
    height: 50px;
  }

  .content4 {
    margin: 2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
  }

  .content4:before, .content4:after {
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
  }

  .content4:before {
    left : 10px;
  }

  .content4:after {
    right: 10px;
  }

  .content4 h3 {
    margin: 0;
    padding: 0;
  }

  .content4 .flexbox {
    display: block;
  }

  .toukaiIcon {
    display: none;
  }

  footer {
    height: 100px;
  }
}